
body {
  background-color: #d2e0fb;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
section {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  margin-bottom: 0px;
}
.card {
  width: 650px;
  height: 460px;
  border-radius: 20px;
  background: snow;
  box-shadow: 5px 5px 0px #696969, -5px -5px 0px #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .me {
  background-color: papayawhip;
  width: 150px;
  border-radius: 100px;
  margin: 0 auto;
}
.card p {
  text-align: center;
}
.contact {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 70px;
}
.contact img {
  width: 30px;
  margin: 10px 0;
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #6f87b5;
}
#projects {
  margin: 0;
  background-color: #eceaea;
  border-radius: 20px;
  width: 200px;
}

@media (max-width: 750px) {
    .card {
      width: 90%;
      height: auto;
      padding: 20px;
      text-align: center;
      flex-wrap: wrap;
    }

    .contact {
      margin: 0 20px;
    }

    .me {
      width: 100px;
    }

    #projects {
      width: 150px;
      margin: 5px 0;
    }
  }
